/* Блок Боди  Block body */
.body {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Forum;
}

h1,h2,h3 {
    font-family: 1em;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

/* Блок Хедер Block Header */
.header {
    display: flex;
    width: 100%;
    height: 50px;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    background: #ffffff;
    z-index: 2000;
}

.header__logotype {
    background-image: url(../img/logo.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 115px;
    height: 12px; 
    margin-top: auto;
    margin-bottom: auto;
}

.header__menu {
    width: 42px;
    height: 42px;
}

.header__menu a {
    position: relative;
    top: 50%;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #df4648;
}

.header__menu a::before,
.header__menu a::after {
    display: block;
    background-color: #df4648;
    width: 20px;
    height: 2px;
    position: relative;
    content: "";
}

.header__menu a::before {
    top: -6px;
}


.header__menu a::after {
bottom: -4px;
}

.header__icon-phone {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon/phone.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.header__icon-filter-cross {
    background-image: url(../img/icon/cross.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    display: none;


}

/* Блок Мэйн Block Main */

.main {
    margin-top: 50px;
    flex-basis: 100%;
}

/* Блок контейнер Block container */

.container {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.container_column {
    flex-direction: column;
}


.container_modal-theme {
 border: 2px solid lightgray;
 flex-wrap: wrap;
 position: absolute;
 width: 667px;
 min-height: 200px;
 top: 50px;
 left: 0px;
 right: 0px;
 background-color: #ffffff;
 overflow-y: scroll;
 z-index: 1000;
}

.container_disabled {
    display: none;
}


.container__button {
    height: 53px;
    background-color: #df4648;;
    color: #ffffff;
    border: none;
    font-size: 1.2em;
}

/* Блок Навигации Block Navigation */

.navigation {
    flex-basis: 70%;
    margin-bottom: 20px;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.navigation__item a {
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}

.navigation__icon-angle-right {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/icon/angle-right.svg);
    background-repeat: no-repeat;
}

.navigation__item a:hover {
color: orange;
}

.navigation__item a:last-child {
    color: orange;
}

/* Блок Загловок Block Caption */

.caption {
    margin-bottom: 20px;
    font-size: 2em;
}

/* Блок Фильтр Block Filter */

.filter {
    display: flex;
    flex-direction: column;
    flex-basis: 50%; 
}

.filter__icon {
    width: 25px;
    height: 25px;
    background-image: url(../img/icon/filter.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.filter__caption {
    padding-left: 5px;
    font-size: 1.5em;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    background-color: #ffffff;
 
}

.filter-block {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 1.2em;
}

.filter-block label {
    display: none;
}

.sorting {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.sorting__caption {
    padding-left: 5px;
    font-size: 1.5em;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    background-color: #ffffff;
}

.sorting-block {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #ffffff;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 1.2em;
 
}

.sorting-block label {
    display: none;
}

.filter__button {
    flex-basis: 99%;
    margin: auto;
    height: 39px;
    text-align: center;
    background-image: none;
    background-color: lightgray;
    border: none;
    letter-spacing: 2px;
}

/* Блок Каталог Block Ctalog*/

.catalog {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.catalog-item {
flex-basis: 30%;
height: 190px;
border: 1px solid lightgray;
background-size: 80%;
background-repeat: no-repeat;
background-position: 50% 50%;
margin-bottom: 20px;
}

.catalog-item__sale-icon {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgba(246, 231, 79, 0.8);
    height: 23px;
    width: 42px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}

.catalog-item__price {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    height: 12px;
    width: 54px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: lightgray;
    text-decoration: line-through;
}

.catalog-item__buy-batton {
    display: block;
    width: 19px;
    height: 16px;
    background-image: url(../img/icon/shopping-cart.svg);
    position: relative;
    left: 160px;
    bottom: 15px;
    background-color: transparent;
    border: none;
}

.catalog-item__actual-price {
    display: block;
    margin-top: 120px;
    margin-left: 2px;
    height: 12px;
    width: 54px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.catalog-item_disabled {
    display: none;
}

/* Блок товаров  */

.catalog-item_1 {
    background-image: url(../img/catalog-image-item/catalog-item_1.jpg);

}

.catalog-item_2 {
    background-image: url(../img/catalog-image-item/catalog-item_2.jpg);
}

.catalog-item_3 {
    background-image: url(../img/catalog-image-item/catalog-item_3.jpg);
}
.catalog-item_4 {
    background-image: url(../img/catalog-image-item/catalog-item_4.jpg);
}
.catalog-item_5 {
    background-image: url(../img/catalog-image-item/catalog-item_5.jpg);
}
.catalog-item_6 {
    background-image: url(../img/catalog-image-item/catalog-item_6.jpg);
}
.catalog-item_7 {
    background-image: url(../img/catalog-image-item/catalog-item_7.jpg);
}
.catalog-item_8 {
    background-image: url(../img/catalog-image-item/catalog-item_8.jpg);
}
.catalog-item_9 {
    background-image: url(../img/catalog-image-item/catalog-item_9.jpg);
}


/* Иконки Icons */

.icon-plus {
    background-image: url(../img/icon/plus.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.caret_dowm {
        background-image: url(../img/icon/caret-down.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 20px;
}

.icon_minus {
    background-image: url(../img/icon/minus.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.circle_plus {
    background-image: url(../img/icon/plus-circle.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

.circle_minus {
    background-image: url(../img/icon/minus-circle.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

/* Шрифты Fonts */


@font-face {
    font-family: "Forum";  
    src: url(../fonts/Forum.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal;
    font-size: 8pt;
    }